main {
    margin-top: 1rem;
    width: 80%;
    margin: auto;
  }
  .container{
      margin-left:20%;
      margin-right:20%;
      margin-top: 1.5%  }
  .container2{
    margin-left:20%;
    margin-right:20%;
}
