mat-form-field,
textarea {
  width: 100%;
 
}



.mat-raised-button {
  background-color: blue;
 
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: auto;
  min-width: 89px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}


.mat-card {
  background:lightgreen;
  color: rgba(0,0,0,.87);
}

.mat-form-field-infix {
  background:lightpink;
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}